<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status Code {{.Code}}</title>
</head>

<body>
  <main>
    <h1>Status Code</h1>
    <a href="/">Back</a>
    <section>
      <ul>
        <li>Status: ({{.Code}}) {{.CodeText}}</li>
        <li>HTTP Method: {{.Method}}</li>
      </ul>
    </section>
  </main>
</body>

</html>